apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reloader
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '10'
spec:
  project: core
  source:
    repoURL: 'https://stakater.github.io/stakater-charts'
    targetRevision: v2.1.3
    chart: reloader
    helm:
      values: |-
        global:
          imagePullSecrets: 
            - name: docker-config
        reloader:
          ignoreSecrets: false
          reloadStrategy: annotations
          labels:
            <PLATFORM_NAME_KEBAB>.cost-allocation.cost-center: platform
            <PLATFORM_NAME_KEBAB>.metadata.owner: <GITOPS_REPOSITORY_NAME>-admin
            <PLATFORM_NAME_KEBAB>.metadata.service: pod-reloader
            <PLATFORM_NAME_KEBAB>.metadata.chart-version: 2.1.3
            <PLATFORM_NAME_KEBAB>.metadata.version: 1.4.2
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: reloader
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        maxDuration: 5m0s
        factor: 2
