apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '20'
spec:
  project: core
  source:
    repoURL: https://helm.releases.hashicorp.com
    targetRevision: <VAULT_VERSION>
    helm:
      parameters:
        - name: server.route.host
          value: vault.<DOMAIN_NAME>
        - name: 'server.ingress.hosts[0].host'
          value: vault.<DOMAIN_NAME>
      values: |-
        server:
          annotations: {
            # <SIDECAR_ANNOTATION>
          }
          extraLabels:
            <PLATFORM_NAME_KEBAB>.cost-allocation.cost-center: platform
            <PLATFORM_NAME_KEBAB>.metadata.owner: <GITOPS_REPOSITORY_NAME>-admin
            <PLATFORM_NAME_KEBAB>.metadata.service: secrets-management.hashicorp-vault
            <PLATFORM_NAME_KEBAB>.metadata.chart-version: <VAULT_VERSION>
            <PLATFORM_NAME_KEBAB>.metadata.version: 1.15.1
            # <ADDITIONAL_LABELS>
          serviceAccount:
            create: true
            name: vault
            annotations:
              <K8S_ROLE_MAPPING>: "<SECRET_MANAGER_IAM_ROLE_RN>"
          affinity: ""
          ha:
            enabled: true
            replicas: 3
            raft:
              enabled: true
              config: |
                ui = true
                listener "tcp" {
                  tls_disable     = 1
                  address         = "[::]:8200"
                  cluster_address = "[::]:8201"
                }
                storage "raft" {
                  path = "/vault/data"
                  retry_join {
                    leader_api_addr = "http://vault-0.vault-internal:8200"
                  }
                  retry_join {
                    leader_api_addr = "http://vault-1.vault-internal:8200"
                  }
                  retry_join {
                    leader_api_addr = "http://vault-2.vault-internal:8200"
                  }
                }
                # <SECRET_MANAGER_UNSEAL>
                service_registration "kubernetes" {}
          ingress:
            enabled: true
            annotations:
              alb.ingress.kubernetes.io/scheme: internet-facing
                  alb.ingress.kubernetes.io/success-codes: "200-399"
              alb.ingress.kubernetes.io/certificate-arn: <ACM_CERTIFICATE_ARN>
              alb.ingress.kubernetes.io/group.name: <ALB_INGRESS_GROUP_NAME>
              alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
              alb.ingress.kubernetes.io/security-groups: <ALB_SECURITY_GROUPS>
              alb.ingress.kubernetes.io/subnets: <ALB_PUBLIC_SUBNETS>
              alb.ingress.kubernetes.io/tags: environment=<PRIMARY_CLUSTER_NAME>,provisioned-by=<PLATFORM_NAME_KEBAB>
              alb.ingress.kubernetes.io/target-type: ip
              alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'
            ingressClassName: "alb"
            pathType: Prefix
            # When HA mode is enabled and K8s service registration is being used,
            # configure the ingress to point to the Vault active service.
            # activeService: true
            hosts:
              - host: <SECRET_MANAGER_INGRESS_URL>
          ui:
            enabled: true
            serviceType: "ClusterIP"
            serviceNodePort: null
            externalPort: 8200
    chart: vault
  destination:
    server: https://kubernetes.default.svc
    namespace: vault
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
      jsonPointers:
        - /webhooks
